<div class="wrap">

<div class="hero-unit hero-nuit-colorful">
<div class="animate-div"></div>
<div class="input-wrap input-append">
<input type="text" class="input-xxxlarge" id="search" name="search">
<button class="btn btn-large">smooth</button>
</div>
</div>

<!-- <div class="hero-unit">
  <h1>欢迎来到smooth</h1>
  <p>smooth是一个基于node.js的音乐社区</p>
  <p>
    <a href="/login" class="btn btn-primary btn-large">登录</a>
    <a href="/reg" class="btn btn-large">立即注册</a>
  </p>
</div> -->

<div class="row">
  <% posts.forEach(function(post,index){ %>
  <div class="span3">
  <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
    <h2><%= post.title %></h2></a>
    <p><%- post.post %></p>
    <p><a href="/u/<%= post.name %>"><%= post.name %></a>|<%= post.time.minute %></p>
  </div>
  
  <% }) %>
</div>
</div>
